---
import Analytics from "../../jscomponents/Analytics.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const { Content } = await post.render();
---
<Analytics />
<Layout
  title={post.data.title}
  description={post.data.description}
  og_title={post.data.title}
  og_description={post.data.description}
  og_type="article"
>
  <style>
    .background-animation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to left, #110819, #000);
      z-index: -1;
    }
    .title {
      font-size: 2.75rem;
    }
  </style>
  <div class="background-animation"></div>

  <article class="prose mx-auto w-full max-w-full flex-col"></article>
    <h1 class="text-4xl font-bold mb-4">
      {post.data.title}
    </h1>
    <p class="mt-0 mb-10" style="opacity: 0.8; font-style: italic;">
      {post.data.description}
    </p>
    <Content />
  </article>
</Layout>